@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* carousel css */
.sliderContainer {
  position: relative;
  width: 100%;
}

.sliderImage {
  display: block;
  max-width: 100%;
  height: 100vh;
  object-fit: cover;
}

.imageOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.paraOverlay {
  position: absolute;
  top: 25%;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  transition: 0.5s ease;
  padding: 20px;
  text-align: center;
}
